{% extends 'base.html' %}
{% load static %}
{% block title %}My Profile{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'css\authentication.css' %}" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="usr-profile-container row">
        <div class="usr-profile_image col-lg-3">

        </div>
        <div class="usr-profile-core-info col-lg-6">
            <h1>Your Information</h1>
            <div class="usr-profile-core-info-wrapper row">
                <div class="user-profile-core-info col-lg-6">
                    <div><p>Username : {{ user.user.username }}</p></div>
                    <div><p>Email : {{ user.user.email }}</p></div>
                    <div><p>First Name : {{ user.user.first_name }}</p></div>
                    <div><p>Last Name : {{ user.user.last_name }}</p></div>
                </div>
                <div class="user-profile-secondary-info col-lg-6">
                    <div><p>Role : {{ user.get_role_display }}</p></div>
                    <div><p>Organisation : {% if user.organisation %} {{ user.organisation }} {% else %} Not Associated {% endif %}</p></div>  
                </div>
                <div class="user-profile-core-info-footer col-lg-12">
                    <p class="light italic">Date Joined: {{ user.user.date_joined }} </p>
                </div>
            </div>   
        </div>
         <div class="user-profile-sidebar col-lg-3">
            <h2>Actions</h2>
            <a href="#" id="edit" data-id={{ user.user.id }} class="btn btn-info">Edit my profile</a>
        </div>

    </div>
{% endblock %}

{% block page_js %}
   <script src="{% static 'js/profile.js' %} "></script>
{% endblock %}