#sidebar-navigation{
    padding-left:15px;
    padding-right:15px;
    transition:all 0.5s ease-in-out;
    background-color: $primary;
    overflow: hidden;
    color:$text-white;
    min-height: 100vh;
    &.open{
        display:block;   
    }
    &.transition{
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
    }
    &.closed{
        display:none;
    }
}
    

