#sidebar-navigation{
    padding-left:15px;
    padding-right:15px;
    transition:all 0.5s ease-in-out;
    background-color: $primary;
    overflow: hidden;
    color:$text-white;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &.open{
        display:block;   
    }
    &.transition{
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
    }
    &.closed{
        display:none;
    }

    ul
        li {
            border-color:$secondary;
            border: 1px solid $secondary;
            padding: 0 5px;
            margin: 15px 0;
            border-radius: 15px;
        
            a{
                color:$text-white;

                &.expandable{
                    width:100%;
                    text-align: left;
                }
                
                &:hover{
                    background-color: silver;
                }
                
            }
            &:hover:not(.expandable){
                border-color:$text-white;
                background-color: silver;
            }
        }
}
    

