@import "colors";
@import "breakpoints";
@import "mixins";

.ContentHeader h1{
    background-color: $secondary;
    padding-bottom: 1vh;
    margin: 0;
}
.TicketStatWrapper{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 15px;
    
    @media (max-width: $lg) {
        flex-direction: column;
    }
}
.TicketStatItem{
    color: $--Color_SugarCane;
    background-color: $primary;
    padding: 30px;
    border-radius: 15px;
    border: 3px solid darken($primary, 10%);

    @media (max-width: $lg) {
        margin-bottom: 10px;
    }
}

.btn-secondary {
    background-color: $secondary;
    width: 100%;
}