@import "colors";
@import "breakpoints";
@import "mixins";

.agn_WelcomeHeader{
    background-color: $secondary;
    padding-bottom: 1vh;
    margin: 0;
}
.agn_TicketStat--Item{
    border: 1px solid $secondary;
    color: $off-white;
    background-color: $primary;
   @media ( $md ) {
       margin-right: 1vw;
   }

   .agn_TicketStat--Count{
       font-weight: 600;
       font-size: 28px;

   }
   .agn_TicketStatLink{
       @include button-Silver;
   }
}