@import "colors";
@import "navbar";

#header {
  background-color: $primary;
  color: #fff;
  
  #toggle_sidebar {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  a:not(.dropdown-item) {
    color: #fff;
    &:hover {
      background-color: $secondary;
    }
  }
}

#demobanner {
    text-align: center;
}

.no-padding {
  padding: 0;
}