@import "colors";
html,
body {
  overflow: hidden;
  max-width: 100%;
    .container-fluid{
        padding: 0px 0px;
    }
  }

@import "navbar";

.wrapper{
  width:100%;
  display:flex;
  
}
#header{
  padding-left:15px;
  display:inline-flex;
  background-color: $primary;
  color:$text-white;
  p{
      font-size:24px;
      padding-top:12px;
      padding-bottom:0px;
  }
  #header_right_side{
    margin-left:auto;
    margin-right:5px;
  }
}
#main-wrapper{
  margin-left:0px;
  padding-right: 0;
  display:block;
}