@import 'colors';
.modal-header,
.modal-footer {
    color: #fff;
    background: $primary;
}

// Custom control override
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primary;
}

.btn-primary {
    background-color: $primary;
    border: 3px outset lighten($primary, 10%);

    &:hover {
        background-color: $primary;
        border: 3px inset lighten($primary, 10%);
    }
}

.btn-secondary {
    background-color: $secondary;
    color:#000;
    border: 3px outset lighten($secondary, 20%);
    &:hover {
        background-color: $secondary;
        color: #000;
        border: 3px inset lighten($secondary, 20%);
    }
}

.btn-remove {
    background-color: $--Color_Bittersweet;
    color:#000;
    border: 3px outset darken($--Color_Bittersweet, 20%);
    &:hover {
        background-color: $--Color_Bittersweet;
        color: #000;
        border: 3px inset darken($--Color_Bittersweet, 20%);
    }
}