@import 'colors';
.modal-header,
.modal-footer {
    color: #fff;
    background: $primary;
}

.btn-secondary {
    background-color: $secondary;
    color:#000;
    border: 3px outset lighten($secondary, 20%);
    &:hover {
        background-color: $secondary;
        color: #000;
        border: 3px inset lighten($secondary, 20%);
    }
}

.btn-remove {
    background-color: $--Color_Bittersweet;
    color:#000;
    border: 3px outset darken($--Color_Bittersweet, 20%);
    &:hover {
        background-color: $--Color_Bittersweet;
        color: #000;
        border: 3px inset darken($--Color_Bittersweet, 20%);
    }
}