{% extends 'base.html' %}
{% load static %}
{% block page_css %}
    <link rel="stylesheet" href="{% static 'css\organisation.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css\modals.css' %}" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="organisation-content">
        <div class="cardset-wrapper row">
            {% for org in organisation_list %}
                {% include 'partials/_card.html'%}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block page_js %}
   <script src="{% static 'js/organisation.js' %} "></script>
{% endblock %}
