{% extends 'base.html' %}
{% load static %}
{% block page_specific_stylesheets %}
    <link rel="stylesheet" href="{% static 'css\modals.css' %}" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="org-OrganisationTableWrapper">
        <table class="table-responsive table-striped">
            <thead>
                <th>Organisation name</th>
                <th>Actions</th>
            </thead>
            {% for org in organisation_list %}
                <tr>
                    <td>{{ org.Organisation_Name }}</td>
                    <td colspan="2">
                        <a href="#" class="org-edit btn btn-info" data-id={{ org.id }}>Edit</a>
                        <a href="#" class="org-users btn btn-info" data-id={{ org.id }}>Show all Users</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block page_js %}
   <script src="{% static 'js/organisation.js' %} "></script>
{% endblock %}
