{% extends 'base.html' %}

{% block content %}
    <div class="org-OrganisationTableWrapper">
        <table class="table-responsive table-striped">
            <thead>
                <th>Organisation name</th>
                <th>Actions</th>
            </thead>
            {% for org in organisation_list %}
                <tr>
                    <td>{{ org.Organisation_Name }}</td>
                    <td colspan="2">
                        <a href="#" class="btn btn-info" data-id={{ org.id }}>Edit</a>
                        <a href="#" class="btn btn-info" data-id={{ org.id }}>Show all Users</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

