{% load crispy_forms_tags %}
<div id="unassociated-user-list-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Unassociated User list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="unassociated_user_form" action="" method="POST">
        <div class="modal-body">
            {% crispy form %}
        </div>
        <div class="modal-footer">
            <input type="hidden" id="org_ident" value="{{ org_id }}"/>
            <button type="button" onclick="assocate_user()" class="btn btn-secondary">Associate user(s)</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>