<ul id="sidebar-navigation" class="closed col-lg-2 nav flex-column">
    {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="btn" href="{% url 'add_ticket' %}"><i class="fas fa-file"> Add Ticket</i></a></li>
        <li class="nav-item"><a class="btn" href="{% url 'dashboard' %}"><i class="fas fa-chalkboard"> Dashboard</i></a></li>
        <li class="nav-item"><a class="btn" href="{% url 'results' %}"><i class="fas fa-file"> Request List</i></a></li>
        <li class="expandable">
            <a class="expandable btn" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-window-maximize">  Views</i> </a>
            {% if user_profile.role == 'USR' %}
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a class="btn" href="{% url 'results' %}?raised_by={{request.user.id}}&amp;status=OPN">View my Open requests</a></li>
                    <li><a class="btn" href="{% url 'results' %}?raised_by={{request.user.id}}&amp;status=PEN">View my Pending requests</a></li>
                </ul>
            {% else %}
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a class="btn" href="{% url 'results' %}?assigned_to=-1">View Unassigned</a></li>
                    <li><a class="btn" href="{% url 'results' %}?assigned_to={{request.user.id}}">View requests assigned to me</a></li>
                    <li><a class="btn" href="{% url 'results' %}?statusexclude=CLS">View all Open requests</a></li>
                </ul>
            {% endif %}
        <li class="nav-item"><a class="btn" href="{% url 'show_organisation_list' %} "><i class="fas fa-building"> Organisations</i></a></li>
        <li class="nav-item"><a class="btn" href="#"><i class="fas fa-users"> Users</i></a></li>
    {% else %}
        <li class="nav-item"><a class="btn" href="{% url 'index' %}"><i class="fas fa-home"> Home</i></a></li>    
    {% endif %}
    
    {% if request.user.is_staff %}
        <li class="nav-item"><a class="btn" href="{% url 'admin:index' %}"><i class="fas fa-gear"> Admin</i></a></li>
    {% endif %}
</ul>
