{% extends 'base.html'%}
{% load static %}

{% block page_specific_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/agent.css' %}">
{% endblock %}
{% block content %}
{% if user.role == 'AGN'%}
<div class="agn_ContentWrapper row">
    <h1 class="agn_WelcomeHeader col-lg-12">Welcome {{user.user.username}}</h1>
    <div class="agn_TicketStat--wrapper row col-lg-12">
        <div class="agn_Ticketstat--Item col-lg-4 col-md-6 col-sm-12">
            <h2>Unassigned Tickets</h2>
                <p class="agn_TicketStat--Count">{{unassigned}}</p>
            <a class="btn agn_TicketstatLink" href="{% url 'results' %}?assigned_to=-1">View Unassigned</a>
        </div>

        <div class="agn_Ticketstat--Item col-lg-4 col-md-6 col-sm-12">
            <h2>Assigned to You</h2>
                    <p class="agn_TicketStat--Count">{{assigned}}</p>
                <a class="btn agn_TicketstatLink" href="{% url 'results' %}?assigned_to={{request.user.id}}">View Assigned</a>
        </div>
            
        <div class="agn_Ticketstat--Item col-lg-4 col-md-6 col-sm-12">
            <h2>Total Open Tickets</h2>
                    <p class="agn_TicketStat--Count">{{open_tickets}}</p>
                <a class="btn agn_TicketstatLink" href="{% url 'results' %}?statusexclude=CLS">View All Open Tickets</a>
        </div>
    </div>
</div>
{% else %}

{% endif %}

{% endblock %}