{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="tck-Ticket_wrapper row">
        <div class="tck-Ticket_main col-lg-9">
            {% if ticket.status == 'CLS' %}
                <div id="ticket-closure-banner" class="alert alert-dark">Ticket closed at {{ ticket.closed_on }} with the following reason '{{ ticket.closure_message }}'</div> 
            {% endif %}
            <div class="tck-Ticket_Header">
                <h1 class="ticket-header">{{ ticket.title }}</h1>
            </div>
            <div class="tck-Ticket_description">
                {% autoescape off %}
                    <p class="ticket-description">{{ ticket.description }}</p>
                {% endautoescape %}
            </div>
            <div class="tck-Ticket-CommentSection">
                {% for comment in relatedcomments %}
                    <div class="comment">
                        <p class="comment-title">{{ comment.posted_by }} posted on {{ comment.date_posted }}</p>
                        <p>{{ comment.comment_content }}
                    </div>
                {% endfor %}
            </div>
            <div class="tck-Ticket_CommentForm">
                <form id="comment-form" method="POST" action='#'>
                    {{ commentform | crispy }}
                    <input type="hidden" id="id_related_ticket" value="{{ticket.id}}"/>
                    <button type="submit" class="btn btn-secondary">Post comment</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <div class="tck-Ticket_coreInfo col-lg-3">
            {% if ticket.status != 'CLS' %}
            <div class="row">
                    
            </div>
            {% endif %}
            <dl class="dl-horizontal">
                <dt>Raised On:</dt><dd>{{ ticket.raised_on }}<dd>
                <dt>Raised By:</dt><dd>{{ ticket.raised_by}}</dd>
                <dt>Assignee:</dt><dd class="ticket-assigned-to">{{ ticket.assigned_to}} {% if ticket.assigned_to != user_profile %}<br/><a href="#" id="request-take-me" data-id="{{ticket.id}}" data-user="{{ user_profile.user.id }}">Take it</a> {% endif %} </dd>

            </dl>
        </div>        
        <div class="tck-Ticket_Sidebar">

        <div>
    </div>
    </div>
    
{% endblock %}

{% block page-fab-buttons %}
    <button id="edit-ticket" data-id={{ ticket.id }} type="button" class="btn btn-sub btn-success has-tooltip" data-placement="left" title="Edit Request Details">
        <i class="fas fa-edit"> </i>
    </button>
    
    <button id="mark-ticket-closed" data-id= {{ticket.id }} onclick="close_ticket()" type="button" class="btn btn-sub btn-dark has-tooltip" data-placement="left" title="Close Request">
        <i class="fas fa-window-close"> </i>
    </button>
{% endblock %}

{% block page_js %}
   <script src="{% static 'js/ticket.js' %} "></script>
{% endblock %}