{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="tck-Ticket_wrapper row">
        <div class="tck-Ticket_main col-lg-9">
            {% if ticket.status == 'CLS' %}
                <div id="ticket-closure-banner" class="alert alert-dark">Ticket closed at {{ ticket.closed_on }} with the following reason '{{ ticket.closure_message }}'</div> 
            {% endif %}
            <div class="tck-Ticket_Header">
                <h1 class="ticket-header">{{ ticket.title }}</h1>
            </div>
            <div class="tck-Ticket_description">
                {% autoescape off %}
                    <p class="ticket-description">{{ ticket.description }}</p>
                {% endautoescape %}
            </div>
            <div class="tck-Ticket-CommentSection">
                <h3 data-toggle="collapse" href="#commentsSectionCollapse" role="button" aria-expanded="false" aria-controls="commentsSectionCollapse">Comments<i class="fas fa-chevron-up"> </i></h3>
                <div id="commentsSectionCollapse" class="collapse show">
                    {% for comment in relatedcomments %}
                        {% include 'partials/_comment.html'%}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="tck-Ticket_coreInfo col-lg-3">
            {% if ticket.status != 'CLS' %}
            <dl class="dl-horizontal">
                <dt>Raised On:</dt><dd>{{ ticket.raised_on }}<dd>
                <dt>Raised By:</dt><dd>{{ ticket.raised_by}}</dd>
                <dt>Assignee:</dt><dd class="ticket-assigned-to">{{ ticket.assigned_to}} {% if ticket.assigned_to != user_profile and user_profile.role == 'AGN' %}<br/><a href="#" id="request-take-me" data-id="{{ticket.id}}" data-user="{{ user_profile.user.id }}">Take it</a> {% endif %} </dd>
            </dl>
        </div>        
        <div class="tck-Ticket_Sidebar">

        <div>
    </div>
    </div>
    
{% endblock %}

{% block page-fab-buttons %}
    
    {% if ticket.status != 'CLS'%}
    <button id="add-comment" data-id={{ ticket.id }} type="button" class="btn btn-sub btn-dark has-tooltip" data-placement="left" title="Add Comment">
        <i class="fas fa-comment"> </i>
    </button>
    
    <button id="edit-ticket" data-id={{ ticket.id }} type="button" class="btn btn-sub btn-success has-tooltip" data-placement="left" title="Edit Request Details">
        <i class="fas fa-edit"> </i>
    </button>
        {% if user_profile.role == 'AGN' %}
            <button id="mark-ticket-closed" data-id= {{ticket.id }} onclick="close_ticket()" type="button" class="btn btn-sub btn-dark has-tooltip" data-placement="left" title="Close Request">
                <i class="fas fa-window-close"> </i>
            </button>
        {% endif %}
    {% endif %}
{% endblock %}

{% block page_js %}
   <script src="{% static 'js/ticket.js' %} "></script>
{% endblock %}