#sidebar-navigation {
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #1a535c;
  /***********************
    *SIDEBAR
    *********************/
}

@media (min-width: 992px) {
  #sidebar-navigation {
    height: 100vh;
    padding-right: 0;
  }
}

#sidebar-navigation.open {
  display: block;
}

#sidebar-navigation.transition {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
}

#sidebar-navigation.closed {
  display: none;
}

#sidebar-navigation .sidebar-header {
  text-align: center;
  color: #fff;
}

#sidebar-navigation ul.sidebar-top-menu {
  -webkit-column-count: 2;
          column-count: 2;
  padding-left: 0;
}

@media (min-width: 992px) {
  #sidebar-navigation ul.sidebar-top-menu {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

#sidebar-navigation li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sidebar-navigation li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  margin: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

#sidebar-navigation li a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
}

@media (min-width: 992px) {
  #sidebar-navigation li {
    -webkit-column-count: 1;
            column-count: 1;
    font-size: 24px;
  }
  #sidebar-navigation li a {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

#header {
  background-color: #1a535c;
  color: #fff;
}

#header .brand {
  margin-left: auto;
}

#header #toggle_sidebar {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#header #toggle_sidebar span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#header #toggle_sidebar span:nth-child(1) {
  top: 9px;
}

#header #toggle_sidebar span:nth-child(2), #header #toggle_sidebar span:nth-child(3) {
  top: 18px;
}

#header #toggle_sidebar span:nth-child(4) {
  top: 27px;
}

#header #toggle_sidebar.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#header #toggle_sidebar.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#header #toggle_sidebar.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#header #toggle_sidebar.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#header a:not(.dropdown-item) {
  color: #fff;
  border-bottom: 6px solid transparent;
}

#header a:not(.dropdown-item):hover {
  border-bottom: 6px solid #4ecdc4;
  transition: border-color 0.5s ease-in-out;
  -webkit-transition: border-color 0.5s ease-in-out;
  -moz-transition: border-color 0.5s ease-in-out;
  -ms-transition: border-color 0.5s ease-in-out;
  -o-transition: border-color 0.5s ease-in-out;
}

.no-padding {
  padding: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #1a535c;
}

.btn-primary {
  background-color: #1a535c;
  border: 3px outset #257784;
}

.btn-primary:hover {
  background-color: #1a535c;
  border: 3px inset #257784;
}

.btn-custom-secondary {
  background-color: #4ecdc4;
  border: 3px outset #76d8d1;
}

.btn-custom-secondary:hover {
  background-color: #4ecdc4;
  border: 3px inset #76d8d1;
}

.btn-group-fab {
  position: fixed;
  width: 50px;
  height: auto;
  right: 20px;
  bottom: 20px;
}

.btn-group-fab div {
  position: relative;
  width: 100%;
  height: auto;
}

.btn-group-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  width: 40px;
  height: 40px;
  margin: 4px auto;
}

.btn-group-fab .btn-main {
  width: 50px;
  height: 50px;
  right: 50%;
  margin-right: -25px;
  z-index: 9;
}

.btn-group-fab .btn-sub {
  bottom: 0;
  z-index: 8;
  right: 50%;
  margin-right: -20px;
  -webkit-transition: all 2s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-group-fab.active .btn-sub:nth-child(2) {
  bottom: 60px;
}

.btn-group-fab.active .btn-sub:nth-child(3) {
  bottom: 110px;
}

.btn-group-fab.active .btn-sub:nth-child(4) {
  bottom: 160px;
}

.btn-group-fab.active .btn-sub:nth-child(5) {
  bottom: 210px;
}

.btn-group-fab.active .btn-sub:nth-child(6) {
  bottom: 260px;
}

span.introjs-helperNumberLayer {
  top: auto;
  left: auto;
}

.img-split-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 28px;
}

.img-split-left li {
  list-style-type: none;
}

.img-split-left img {
  width: 100%;
}

@media (max-width: 576px) {
  .img-split-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.img-split-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 28px;
}

.img-split-right li {
  list-style-type: none;
}

.img-split-right img {
  width: 100%;
}

@media (max-width: 576px) {
  .img-split-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cta {
  background-color: #1a535c;
  color: #fff;
  text-align: center;
}
