#sidebar-navigation {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #1a535c;
}

#sidebar-navigation.open {
  display: block;
}

#sidebar-navigation.transition {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
}

#sidebar-navigation.closed {
  display: none;
}

#header {
  background-color: #1a535c;
  color: #fff;
}

#header #toggle_sidebar {
  padding-top: 12px;
  padding-bottom: 12px;
}

#header a {
  color: #fff;
}

#header a:hover {
  background-color: #4ecdc4;
}
