{% load static %}
<html lang=en>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css\core.css' %}" type="text/css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.6.1/dist/sweetalert2.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'vendor/css/introjs.css' %}" type="text/css"/>
        {% block page_css %} {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div id="top-navbar-wrapper" class="row">
                <div id="header" class="col-lg-12">
                   <ul class="nav" role="navigation">
                       <li class="nav-item">
                           <a class="nav-link" id="toggle_sidebar" href="#" data-step="1" data-intro="Welcome, click here to open the menu">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                           </a>
                       </li>
                       <li class="brand navbar-brand">
                            Support Software Inc
                       </li>
                    
                    <ul class="nav ml-sm-auto">
                       {% if request.user.is_authenticated %}
                       <li class="nav-item dropdown auth-link d-none d-lg-flex">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if user_profile.profile_picture %}
                                    <span class="profile-img img-circle"><img src=""></span>
                                    {{ user_profile }}
                                {% else %}
                                    <span class="fas fa-user-circle"></span>
                                    {{ user_profile }}
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
                            </div>
                        </li>
                       {% endif %}
                        <li class="nav-item auth-link d-none d-lg-flex">
                            {% if not request.user.is_authenticated %}
                                <a class="nav-link" href="{% url 'login' %}" data-step="3" data-intro="Alternately if you already have an account set up, you can login here">
                                    <span class="fas fa-user-alt"></span>
                                    Login
                                </a>
                            {% else %}
                                <a class="nav-link" href="{% url 'logout' %}">
                                    <span class="fas fa-door-open"></span>
                                    Logout
                                </a>
                            {% endif %}
                        </li>
                        {% if not request.user.is_authenticated %}
                            <li class="nav-item auth-link d-none d-lg-flex">
                                <a class="nav-link" href="{% url 'register' %}"  data-step="2" data-intro="If you want to register for an account, click here">
                                    <span class="fas fa-sticky-note"></span>
                                    Register
                                </a>
                            </li>
                        {% endif %} 
                    </ul>
                </ul>   
                </div>
            </div>
            <div id="main-content-wrapper" class="row">
                {% include 'partials/navbar.html' %}
                <div id="content-wrapper" class="col-sm-12">
                    {% include 'partials/messages.html' %}
                    {% block content %}

                    {% endblock  %}
                </div>    
            </div>
             
        </div>
        <div class="btn-group-fab" role="group" aria-label="FAB Menu">
            <div>
                <button type="button" class="btn btn-main btn-primary has-tooltip" data-placement="left" title="Menu" data-step="4" data-intro="This button shows a variety of context actions on a particular page"> <i class="fa fa-bars"></i> </button>
                <button id="purchase-toggle" class="btn btn-success btn-sub has-tooltip" data-placement="left" title="Purchase" data-step="5" data-intro="Click on this button to purchase the software"><i class="fas fa-pound-sign"></i></button>
                <button type="button" class="btn btn-sub btn-warning has-tooltip" data-placement="left" title="Help" onclick="javascript:introJs().start();" data-step="6" data-intro="Click on this to rerun this introduction"> <i class="fa fa-question"></i> </button>
                {% block page-fab-buttons %} {% endblock %}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static 'js/core.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.6.1/dist/sweetalert2.all.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{% static 'js/stripe.js' %}"></script>
        <script src="{% static 'vendor/js/intro.js' %}"></script>
        

        {% block page_js %}{% endblock %}
        
        {% load sweetify %}
        {% sweetify %}
    </body>
</html>