{% load crispy_forms_tags %}
{% load static %}
<div id="payment-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Purchase the software</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container-fluid">
        <p>Price for the software is £30</p>
        <form id="payment_form" action="" method="POST">
          {{ o_form | crispy }}
          <div id="card-element" class="form-control">
          
          </div>
  
          <div id="card-errors" role="alert"></div>
          <div class="modal-footer">
            <input type="hidden" id="id_cs" value="{{ cs }}"/>
            <button type="submit" class="btn btn-primary">Confirm Purchase</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>    
    </div>
  </div>
</div>
