<div class="card-wrapper col-lg-4 col-md-6 col-sm 12">
    <div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">{{ org.Organisation_Name}}</h5>  
    </div>
    <div class="card-footer">
            <a href="#" class="card-link org-edit" data-id="{{ org.id }}">
                <i class="fas fa-edit"></i>
                <div>Edit</div>
            </a>

            <a href="#" class="card-link org-users" data-id="{{ org.id }}">
                <i class="fas fa-users"></i>
                <div class="d-none d-lg-block">Show attached users</div>
                <div class="d-lg-none">Show users</div>

            </a>
        </div>
    </div>
</div>